<article class="crewlist" >
	<section class="layout">
		<div class="crew">
		<% crew.forEach(function(item){ %>
		<article class="crew-member">
			<h3><%= item.title %> <span class="small">
			<a href="/crew/<%= item.shortname %>"><%= item.name %></a>
		</span></h3>
		<p>
		<a href="/crew/<%= item.shortname %>">
		<img class="crew" src="/images/crew/<%= item.shortname %>_tn.jpg"></a>
			<% if( page != 'home'){ %>
				<% if(page === 'crewList'){ %>
					<%- item.summary %>
			<% }else{ %>
				<%- item.description %>
			<% } %>
		<% } %>
		</p>
		</article>
			<% }) %>
		</div>
	</section><!--layout -->
</article><!-- article -->