<article class="crewlist" >
	<section class="layout">
		<div class="crew">
		<% for( i=0; i < crew.length; i++){ %>
		<article class="crew-member">
			<h3><%= crew[i].title %> <span class="small">
			<a href="/crew/<%= crew[i].shortname %>"><%= crew[i].name %></a>
		</span></h3>
		<p>
		<a href="/crew/<%= crew[i].shortname %>">
		<img src="/images/crew/<%= crew[i].shortname %>_tn.jpg"></a>
			<% if( page != 'home'){ %>
				<% if(page === 'crewDetails'){ %>
					<%- crew[i].summary %>
			<% }else{ %>
				<%- crew[i].description %>
			<% } %>
		<% } %>
		</p>
		</article>
			<% } %>
		</div>
	</section><!--layout -->
</article><!-- article -->